<mat-drawer-container autosize>
  <mat-drawer mode="side" opened class="sidenav-drawer">
    <app-stats></app-stats>

    <mat-action-list>
      <button mat-list-item [routerLink]="['/']">
        <span class="link-btn-content">📦 Results</span>
      </button>

      <button mat-list-item [routerLink]="['/']">
        <span class="link-btn-content">📜 Log</span>
      </button>
    </mat-action-list>
  </mat-drawer>
  <mat-drawer-content class="sidenav-content">
    <ng-content />
  </mat-drawer-content>
</mat-drawer-container>
