<mat-drawer-container autosize>
  <mat-drawer mode="side" opened class="sidenav-drawer">
    <div
      style="
        display: flex;
        align-items: center;
        height: 100px;
        background-color: #f74e4e;
      "
    >
      <img
        style="width: 100%"
        src="/npkill-web-text-clean.svg"
        alt="npkill logo"
      />
    </div>

    <div style="margin: 12px 0">
      <app-stats></app-stats>
    </div>

    <mat-divider />

    <mat-action-list>
      <button mat-list-item [routerLink]="['/']">
        <span class="link-btn-content">📦 Results</span>
      </button>

      <button mat-list-item [routerLink]="['/summary']">
        <span class="link-btn-content">📊 Summary</span>
      </button>

      <button mat-list-item [routerLink]="['/logs']">
        <span class="link-btn-content">📜 Log</span>
      </button>
    </mat-action-list>

    <div style="text-align: center; margin-top: 2em">
      <app-scan-controls />
    </div>

    <div style="margin-top: auto; padding: 1em">
      <app-connection-status />
      <div style="margin: 1em 0">
        <mat-divider />
      </div>

      <div style="font-size: 0.8em; color: gray">
        <div>
          Do you like this project? Consider supporting it and give a big ⭐️ at
          <a
            href="https://github.com/zaldih/npkill-web"
            target="_blank"
            style="color: #f74e4e"
          >
            GitHub!
          </a>
        </div>
        <div style="text-align: left">Made with ❤️ by Juan Torres.</div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="sidenav-content">
    <ng-content />
  </mat-drawer-content>
</mat-drawer-container>
