<mat-drawer-container autosize>
  <mat-drawer mode="side" opened class="sidenav-drawer">
    <div
      style="
        display: flex;
        align-items: center;
        height: 100px;
        background-color: #f74e4e;
      "
    >
      <img
        style="width: 100%"
        src="/npkill-web-text-clean.svg"
        alt="npkill logo"
      />
    </div>

    <app-stats></app-stats>

    <mat-action-list>
      <button mat-list-item [routerLink]="['/']">
        <span class="link-btn-content">📦 Results</span>
      </button>

      <button mat-list-item [routerLink]="['/summary']">
        <span class="link-btn-content">📊 Summary</span>
      </button>

      <button mat-list-item [routerLink]="['/logs']">
        <span class="link-btn-content">📜 Log</span>
      </button>
    </mat-action-list>
  </mat-drawer>

  <mat-drawer-content class="sidenav-content">
    <ng-content />
  </mat-drawer-content>
</mat-drawer-container>
