.card {
  height: 100%;
}

.card-content {
  align-items: center;
  user-select: none;
}

.project-name {
  font-size: 1.4em;
  margin-bottom: 12px;
}

.remove-btn {
  width: 100%;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  margin-top: auto;
}

.deleted-indicator {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #27ae60;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.1em;
}

.footer-stat-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  color: #ffd5a3;
}
